// Configuration file for FoodTree
// This file contains build settings including Supabase credentials
// Note: This file is currently not used by the Xcode project.
// Configuration is read from Info.plist via INFOPLIST_KEY_* build settings.
// If you want to use this file, configure the project to use it in build settings.

SUPABASE_URL = https://duluhjkiqoahshxhiyqz.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1bHVoamtpcW9haHNoeGhpeXF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5MDg3NjQsImV4cCI6MjA3ODQ4NDc2NH0.x8HqNSpYojZ6iEds6IDZyQtOTx4eswEgqWOA7mFphjg
